<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1, shrink-to-fit=no"/>
        <meta name="theme-color" content="#000000" />

        <title>Slow Encore</title>

        {{ encore_entry_link_tags('index') }}
    </head>
    <body style="font-family: 'Roboto', sans-serif;">
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>

        {{ encore_entry_script_tags('index') }}
    </body>
</html>
